/* line 1, ../scss/base/_base.scss */
a {
  text-decoration: none;
}

/* line 5, ../scss/base/_base.scss */
li {
  list-style: none;
}

/*For clearing floats like a boss h5bp.com/q*/
/* line 2, ../scss/base/_mixins.scss */
.skill-lockup {
  *zoom: 1;
}
/* line 5, ../scss/base/_mixins.scss */
.skill-lockup:before, .skill-lockup:after {
  display: table;
  content: "";
  /* Fixes Opera/contenteditable bug:
   http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952*/
  line-height: 0;
}
/* line 12, ../scss/base/_mixins.scss */
.skill-lockup:after {
  clear: both;
}

/* line 1, ../scss/layouts/_about.scss */
.about-wrapper {
  margin-top: 150px;
  text-align: center;
  width: 100%;
}
/* line 6, ../scss/layouts/_about.scss */
.about-wrapper h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5em;
}
/* line 11, ../scss/layouts/_about.scss */
.about-wrapper .about-image {
  border-radius: 50%;
}

/* line 16, ../scss/layouts/_about.scss */
.skill-lockup {
  color: #999;
  max-width: 700px;
  margin: 100px auto;
}
/* line 22, ../scss/layouts/_about.scss */
.skill-lockup .skill-unit {
  float: left;
  width: 350px;
}
/* line 27, ../scss/layouts/_about.scss */
.skill-lockup .skill-label {
  margin: 0 0 10px 50px;
}
/* line 31, ../scss/layouts/_about.scss */
.skill-lockup .skill-icons {
  font-size: 0;
  margin: 2px 0 30px;
  text-align: center;
}
/* line 36, ../scss/layouts/_about.scss */
.skill-lockup .skill-icons span {
  border-radius: 50%;
  background-color: #333;
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  width: 20px;
}
/* line 44, ../scss/layouts/_about.scss */
.skill-lockup .skill-icons span:after {
  background: #fff;
  border-radius: 50%;
  content: "";
  display: block;
  height: 13px;
  margin: 4px;
  width: 13px;
}

/* line 1, ../scss/layouts/_header.scss */
header {
  background-image: url("/images/coffeInBrackets.png");
  height: 450px;
  text-align: center;
  width: 100%;
}
/* line 7, ../scss/layouts/_header.scss */
header .logo {
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 3.4em;
  font-weight: 700;
  margin: 0;
  padding-top: 3em;
  -webkit-text-stroke: 1px black;
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
/* line 17, ../scss/layouts/_header.scss */
header .logo span {
  border: white solid 6px;
  padding: .3em;
}
/* line 23, ../scss/layouts/_header.scss */
header #kicker {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 1.3em;
  margin: 3.5em 0 5.8em 0;
}

/****** NAVBAR ******/
/* line 34, ../scss/layouts/_header.scss */
.nav-bar {
  margin: 0 auto;
  width: 100%;
}
/* line 38, ../scss/layouts/_header.scss */
.nav-bar .nav-links {
  display: inline-block;
  text-align: center;
}
/* line 42, ../scss/layouts/_header.scss */
.nav-bar .nav-links a {
  background-color: white;
  border: black solid 1px;
  color: black;
  font-weight: 700;
  margin-left: 20px;
  padding: 3px 0;
  text-transform: uppercase;
}
