/* line 1, ../scss/base/_base.scss */
html {
  margin: 0 auto;
}

/* line 5, ../scss/base/_base.scss */
a {
  text-decoration: none;
}

/* line 9, ../scss/base/_base.scss */
li {
  list-style: none;
}

/*For clearing floats like a boss h5bp.com/q*/
/* line 2, ../scss/base/_mixins.scss */
.skill-wrapper .skill-lockup, .work-container {
  *zoom: 1;
}
/* line 5, ../scss/base/_mixins.scss */
.skill-wrapper .skill-lockup:before, .work-container:before, .skill-wrapper .skill-lockup:after, .work-container:after {
  display: table;
  content: "";
  /* Fixes Opera/contenteditable bug:
   http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952*/
  line-height: 0;
}
/* line 12, ../scss/base/_mixins.scss */
.skill-wrapper .skill-lockup:after, .work-container:after {
  clear: both;
}

/* line 4, ../scss/layouts/_about.scss */
.about-wrapper {
  margin-top: 250px;
  text-align: center;
  width: 100%;
}
/* line 9, ../scss/layouts/_about.scss */
.about-wrapper h3 {
  font-family: "Dancing Script", cursive;
  font-size: 2.5em;
}
/* line 14, ../scss/layouts/_about.scss */
.about-wrapper .about-image {
  border-radius: 50%;
  padding-top: 30px;
}
/* line 19, ../scss/layouts/_about.scss */
.about-wrapper .about-blurb {
  display: flex;
  margin: 0 auto;
  padding: 25px 0 80px 0;
  width: 50%;
}

/* line 3, ../scss/layouts/_header.scss */
header {
  background-image: url("/images/logobg.jpg");
  height: 450px;
  text-align: center;
  width: 100%;
}
/* line 9, ../scss/layouts/_header.scss */
header .logo {
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 72px;
  font-weight: 700;
  margin: 0;
  padding-top: 110px;
  -webkit-text-stroke: 1px black;
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
/* line 24, ../scss/layouts/_header.scss */
header #kicker {
  color: #000;
  font-family: 'Lobster', cursive;
  font-size: 1.3em;
  margin: 0;
}

/****** NAVBAR ******/
/* line 34, ../scss/layouts/_header.scss */
.nav-bar {
  margin-top: 145px;
  width: 100%;
}
/* line 38, ../scss/layouts/_header.scss */
.nav-bar a {
  background-color: #b3c7db;
  border: black solid 1px;
  color: white;
  font-weight: 700;
  margin-left: 13px;
  padding: 1px 2px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

@media screen and (min-width: 1500px) {
  /* line 53, ../scss/layouts/_header.scss */
  .logo-container .logo span {
    font-size: 1.6em;
  }
  /* line 57, ../scss/layouts/_header.scss */
  .logo-container #kicker {
    color: white;
    font-size: 1.5em;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }

  /* line 64, ../scss/layouts/_header.scss */
  .nav-bar {
    margin-top: 90px;
  }
  /* line 67, ../scss/layouts/_header.scss */
  .nav-bar a {
    font-size: 1.6em;
  }
}
@media screen and (min-width: 867px) {
  /* line 75, ../scss/layouts/_header.scss */
  .nav-bar a {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 528px) {
  /* line 82, ../scss/layouts/_header.scss */
  .logo span {
    padding: 22px;
  }
}
@media screen and (min-width: 471px) {
  /* line 88, ../scss/layouts/_header.scss */
  .logo-container .logo {
    padding-top: 175px;
  }

  /* line 92, ../scss/layouts/_header.scss */
  .nav-bar {
    padding-top: 15px;
  }
}
/* line 1, ../scss/layouts/_footer.scss */
.lockup {
  background-image: url("/images/logobg.jpg");
  height: 125px;
  width: 100%;
}
/* line 6, ../scss/layouts/_footer.scss */
.lockup .footer-link-group {
  padding-top: 90px;
  width: 100%;
}
/* line 10, ../scss/layouts/_footer.scss */
.lockup .footer-link-group a {
  background-color: #b3c7db;
  border: black solid 1px;
  color: white;
  font-weight: 700;
  font-size: .8em;
  padding: 1px 2px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
/* line 22, ../scss/layouts/_footer.scss */
.lockup p {
  float: right;
  font-family: "Dancing Script", cursive;
  font-size: 1em;
  margin: 0;
}

@media screen and (min-width: 528px) {
  /* line 32, ../scss/layouts/_footer.scss */
  .lockup .footer-link-group {
    font-size: 1.2em;
    padding-top: 60px;
  }

  /* line 37, ../scss/layouts/_footer.scss */
  .lockup p {
    color: white;
    font-size: 1.5em;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
}
@media screen and (min-width: 867px) {
  /* line 45, ../scss/layouts/_footer.scss */
  .lockup .footer-link-group {
    font-size: 1.8em;
    padding-top: 50px;
  }
  /* line 49, ../scss/layouts/_footer.scss */
  .lockup .footer-link-group a {
    margin-left: 30px;
  }

  /* line 54, ../scss/layouts/_footer.scss */
  .lockup p {
    color: white;
    font-size: 2em;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
}
/* line 4, ../scss/layouts/_skill.scss */
.skill-wrapper {
  background: #d6d6d6;
  height: 700px;
  padding-top: 100px;
}
/* line 9, ../scss/layouts/_skill.scss */
.skill-wrapper .skill-lockup {
  background-color: #d6d6d6;
  max-width: 700px;
  margin: 100px auto;
  text-align: center;
}
/* line 16, ../scss/layouts/_skill.scss */
.skill-wrapper .skill-lockup #skill-section {
  font-family: "Dancing Script", cursive;
  font-size: 2.5em;
  text-align: center;
}
/* line 22, ../scss/layouts/_skill.scss */
.skill-wrapper .skill-lockup .skill-unit {
  float: left;
  width: 350px;
}
/* line 27, ../scss/layouts/_skill.scss */
.skill-wrapper .skill-lockup .skill-label {
  color: #999;
  margin: 0 0 10px 0;
}
/* line 32, ../scss/layouts/_skill.scss */
.skill-wrapper .skill-lockup .skill-icons {
  font-size: 0;
  margin: 2px 0 30px;
  text-align: center;
}
/* line 37, ../scss/layouts/_skill.scss */
.skill-wrapper .skill-lockup .skill-icons span {
  border-radius: 50%;
  background-color: #333;
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  width: 20px;
}
/* line 45, ../scss/layouts/_skill.scss */
.skill-wrapper .skill-lockup .skill-icons span:after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  display: block;
  height: 13px;
  margin: 4px;
  width: 13px;
}
/* line 57, ../scss/layouts/_skill.scss */
.skill-wrapper .skill-lockup .skill-icons.skill-1 span:nth-child(n+2) {
  background-color: #dbd5d4;
}
/* line 57, ../scss/layouts/_skill.scss */
.skill-wrapper .skill-lockup .skill-icons.skill-2 span:nth-child(n+3) {
  background-color: #dbd5d4;
}
/* line 57, ../scss/layouts/_skill.scss */
.skill-wrapper .skill-lockup .skill-icons.skill-3 span:nth-child(n+4) {
  background-color: #dbd5d4;
}
/* line 57, ../scss/layouts/_skill.scss */
.skill-wrapper .skill-lockup .skill-icons.skill-4 span:nth-child(n+5) {
  background-color: #dbd5d4;
}
/* line 57, ../scss/layouts/_skill.scss */
.skill-wrapper .skill-lockup .skill-icons.skill-5 span:nth-child(n+6) {
  background-color: #dbd5d4;
}
/* line 57, ../scss/layouts/_skill.scss */
.skill-wrapper .skill-lockup .skill-icons.skill-6 span:nth-child(n+7) {
  background-color: #dbd5d4;
}
/* line 57, ../scss/layouts/_skill.scss */
.skill-wrapper .skill-lockup .skill-icons.skill-7 span:nth-child(n+8) {
  background-color: #dbd5d4;
}
/* line 57, ../scss/layouts/_skill.scss */
.skill-wrapper .skill-lockup .skill-icons.skill-8 span:nth-child(n+9) {
  background-color: #dbd5d4;
}
/* line 57, ../scss/layouts/_skill.scss */
.skill-wrapper .skill-lockup .skill-icons.skill-9 span:nth-child(n+10) {
  background-color: #dbd5d4;
}
/* line 57, ../scss/layouts/_skill.scss */
.skill-wrapper .skill-lockup .skill-icons.skill-10 span:nth-child(n+11) {
  background-color: #dbd5d4;
}

@media screen and (min-width: 436px) {
  /* line 67, ../scss/layouts/_skill.scss */
  .skill-wrapper .skill-lockup {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1280px) {
  /* line 73, ../scss/layouts/_skill.scss */
  .skill-wrapper {
    padding-top: 150px;
  }
}
/* line 1, ../scss/layouts/_socialmedia.scss */
.social-media-container {
  height: 200px;
  width: 100%;
  clear: both;
}

/* line 1, ../scss/layouts/_work.scss */
.work-container {
  margin: 0 auto;
  max-width: 968px;
  padding: 100px 0;
}
/* line 7, ../scss/layouts/_work.scss */
.work-container h3 {
  font-family: "Dancing Script", cursive;
  font-size: 2.5em;
  margin: 50px 0;
  padding-top: 50px;
  text-align: center;
}
/* line 15, ../scss/layouts/_work.scss */
.work-container .work-unit {
  background: pink;
  display: block;
  float: left;
  height: 150px;
  width: 25%;
}

@media screen and (min-width: 528px) {
  /* line 25, ../scss/layouts/_work.scss */
  .work-container {
    padding-top: 50px;
  }
  /* line 28, ../scss/layouts/_work.scss */
  .work-container h3 {
    padding-top: 0;
    padding-bottom: 50px;
  }
}
