header {
	background-image: url('/images/coffeInBrackets.png');
	height: 450px;
	text-align: center;
	width: 100%;

	.logo {
		color: white;
		font-family: 'Dancing Script', cursive;
		font-size: 3.4em;
		font-weight: 700;
		margin: 0;
		padding-top: 3em;
		-webkit-text-stroke: 1px black;
		text-shadow: $shadow;

		span {
			border: white solid 6px;
			padding: .3em;
		}
	}

	#kicker {
		color: white;
		font-family: 'Lobster', cursive;
		font-size: 1.3em;
		margin: 3.5em 0 5.8em 0;

	}
}

/****** NAVBAR ******/

.nav-bar {
	margin: 0 auto;
	width: 100%;

	.nav-links {
		display: inline-block;
		text-align: center;

		a {
			background-color: white;
			border: black solid 1px;
			color: black;
			font-weight: 700;
			margin-left: 20px;
			padding: 3px 0;
			text-transform: uppercase;
		}
	}
}

